.home-page{
  /* background-image: url("https://www.jqueryscript.net/images/jQuery-Plugin-For-Stacked-Polaroid-Image-Gallery-Photopile.jpg"); */
  /* background-repeat: no-repeat; */
    /* background-size: cover; */
  background-color: DodgerBlue;
  width:100%;
  height:100%;
}
